<% provide :page_title, 'Questions' %> <!-- provide передает значение для конкретного yield -->
<% currently_at 'Questions' %>

<h1 class="mb-4">Questions</h1>

<%= link_to 'New question', new_question_path, class: 'btn btn-primary btn-lg mb-3' %>

<%== pagination @pagy %>

<% @questions.each do |question| %>
	<article class="card my-3">
		<div class="card-body">
			<h4><%= question.title %></h4>

			<section class="card-text">
				<time datetime="<%= question.formatted_created_at %>">
					<small><%= question.formatted_created_at %></small>		
				</time>

				<p class="my-2">
					<!-- strip_tags - убирает html теги, truncate - ограничивает вывод до определенной длины -->
					<%= truncate strip_tags(question.body), length: 150 %> 
				</p>
			</section>

			<%= link_to 'Show', question_path(question), class: 'btn btn-primary' %> 
			<%= link_to 'Edit', edit_question_path(question), class: 'btn btn-secondary' %> 
			<%= button_to 'Delete', question_path(question), method: :delete, onclick: "return confirm('Are you sure?')", class: 'btn btn-danger mt-3' %>
		</div>
	</article>
<% end %>

<%== pagination @pagy %>