<% provide :page_title, 'Question' %>

<h1 class="mb-4"><%= @question.title %></h1>

<time datetime="<%= @question.formatted_created_at %>">
	<%= @question.formatted_created_at %>		
</time>

<p class="lead my-3">
	<%= @question.body %>
</p>

<%= link_to 'Show', question_path(@question), class: 'btn btn-primary' %> 
<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %> 
<%= button_to 'Delete', question_path(@question), method: :delete, onclick: "return confirm('Are you sure?')", class: 'btn btn-danger mt-3' %>

<hr class="my-3">

<h2>Write your answer</h2>

<%= render 'answers/form' %>

<h2 class="mt-4">Answers</h2>

<% @answers.each do |answer| %>
	<article class="mb-3">
		<time datetime="<%= answer.formatted_created_at %>">
			<%= answer.formatted_created_at %>		
		</time>

		<p>
			<%= answer.body %>
		</p>

		<%= link_to 'Edit', edit_question_answer_path(@question, answer), class: 'btn btn-info btn-sm' %>
		<%= button_to 'Delete', question_answer_path(@question, answer), method: :delete, onclick: "return confirm('Are you sure?')", class: 'btn btn-danger btn-sm mt-3' %>
	</article>
<% end %>